<div class="container-fluid cloudy-knoxville-gradient py-2 py-lg-5 matop">
    
    <div class="container-md">
        <div class="row">
            
            <div class="col rounded-lg">
                <div class="card">
                    <div class="card-body px-3">                         
                        <div class="text-left pb-3 px-2"> 
                            <h4>School Academics Management</h4>  
                            <hr>
                            
                            
                            <div class="addnew">
                                <h4>Add Board Of Education</h4>
                                <label for="addboard">Add New Board of Education</label>
                                <input type="text" placeholder="Board of Education" class="form-control" [(ngModel)]="educationBoard">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showBoardError">
                                    {{boardErrorMessage}}
                                </p>
                                <button class="btn btn-sm success-color-dark text-white mx-0 my-3" (click)="addBoard()">Add Board</button>
                            </div>
                            

                            <div class="addnew my-5">
                                <h4>Add Class</h4>
                                <label for="selectboard">Select Boards</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="selectedBoard">
                                    <option disabled="disabled" selected="selected">(Select Board)</option>
                                    <ng-container *ngFor = "let board of boardList">
                                        <!-- <option value="{{board.id}}">{{board.name}}</option> -->
                                        <option value="{{board.board}}">{{board.board}}</option>
                                    </ng-container>
                                </select>

                                <label for="addboard">Add Class</label>
                                <input type="text" placeholder="Class Name" class="form-control" [(ngModel)]="className">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showaddClassError">
                                    {{errorMessage}}
                                </p>
                                <button class="btn btn-sm success-color-dark text-white mx-0 my-3" (click)="addClass()">Add Class</button>
                            </div>
                            

                            <div class="addnew my-5">
                                <h4>Add Subject</h4>
                                <label for="selectboard">Select Boards</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="boardOfSubject" (change)="selectClass($event)">
                                    <option disabled="disabled" selected="selected">(Select Board)</option>
                                    <ng-container *ngFor = "let board of boardList">
                                        <!-- <option value="{{board}}">{{board}}</option> -->
                                        <option value="{{board.board}}">{{board.board}}</option>
                                    </ng-container>
                                </select>

                                <label for="selectclass">Select Class</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="classofSubject">
                                    <option disabled="disabled" selected="selected">(Select Class)</option>
                                    <ng-container *ngFor = "let data of filterClassList">
                                        <option value="{{data.className}}">{{data.className}}</option>
                                    </ng-container>
                                </select>

                                <label for="subjectName">Subject Name</label>
                                <input type="text" placeholder="Subject Name" class="form-control" [(ngModel)]="subjectName">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showSubjectError">
                                    {{subjectMessage}}
                                </p>
                                <button class="btn btn-sm success-color-dark text-white mx-0 my-3" (click)="addSubject()">Add Subject</button>
                            </div>
                            
                        </div>
                    </div>
                </div>



                <div class="card my-5">
                    <div class="card-body px-3">                         
                        <div class="text-left pb-3 px-2"> 
                            <h4>Other Category Management</h4>  
                            <hr>
                            <div class="addnew my-5">
                                <h4>Add Course Type</h4>
                                <label>Course Category</label>
                                <input type="text" placeholder="Course Type" class="form-control mb-4" value="GZ Specials" readonly disabled>


                                <label for="addboard">Course Type</label>
                                <input type="text" placeholder="Course Type" class="form-control" [(ngModel)]="courseTypeName">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showCourseTypeMessage">
                                    {{courseTypeMessage}}
                                </p>
                                <button class="btn btn-sm success-color-dark text-white mx-0 my-3" (click)="addCourseType()">Add Course Type</button>
                            </div>


                            <div class="addnew my-5">
                                <h4>Add Course</h4>
                                <label>Select Course Category</label>
                                <input type="text" placeholder="Course Type" class="form-control mb-4" value="GZ Specials" readonly disabled>

                                <label for="ct">Course Type</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="selectCourseType">
                                    <option disabled="disabled" selected="selected">Type of Course</option>
                                    <ng-container *ngFor = "let course of courseTypeList">
                                        <!-- <option value="{{board}}">{{board}}</option> -->
                                        <option value="{{course}}">{{course}}</option>
                                    </ng-container>
                                </select>

                                <label for="subjectName">Course Name</label>
                                <input type="text" placeholder="Course Name" class="form-control" [(ngModel)]="courseNameGZ">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showCourseMessageGZ">
                                    {{CourseMessageGZ}}
                                </p>
                                <button class="btn btn-sm success-color-dark text-white mx-0 my-3" (click)="addCourseName()">Add Course</button>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- Edit Details -->
                <div class="card">
                    <div class="card-body px-3">                         
                        <div class="text-left pb-3 px-2"> 
                            <h4>Edit School Academics</h4>  
                            <hr>
                            
                            
                            <div class="addnew">
                                <h4>Edit Board Of Education</h4>
                                <label for="selectboard">Select Boards</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="boardSelection" (change)="showBoard($event)">
                                    <option disabled="disabled" selected="selected">(Select Board)</option>
                                    <ng-container *ngFor = "let board of boardList">
                                        <!-- <option value="{{board}}">{{board}}</option> -->
                                        <option value="{{board.board}}">{{board.board}}</option>
                                    </ng-container>
                                </select>

                                <label for="addboard">Board of Education</label>
                                <input type="text" placeholder="Board of Education" class="form-control" [(ngModel)]="boardName">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showBoardUpdateMessage">
                                    {{BoardUpdateMessage}}
                                </p>
                                <button class="btn btn-sm default-color-dark text-white mx-0 my-3" (click)="updateBoard()">Update</button>
                                <button class="btn btn-sm unique-color-dark text-white my-3" (click)="deleteBoard()">Detele</button>
                            </div>


                            <div class="addnew my-5">
                                <h4>Edit Class</h4>
                                <label for="selectboard">Select Boards</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="selectBoardForClass" (change)="selectClass($event)">
                                    <option disabled="disabled" selected="selected">(Select Board)</option>
                                    <ng-container *ngFor = "let board of boardList">
                                        <!-- <option value="{{board.id}}">{{board.name}}</option> -->
                                        <option value="{{board.board}}">{{board.board}}</option>
                                    </ng-container>
                                </select>


                                <label for="selectclass">Select Class</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="selectClassForUpdate" (change)="showClass()">
                                    <option disabled="disabled" selected="selected">(Select Class)</option>
                                    <ng-container *ngFor = "let data of filterClassList">
                                        <option value="{{data.className}}">{{data.className}}</option>
                                    </ng-container>
                                </select>

                                <label for="addboard">Class</label>
                                <input type="text" placeholder="Class Name" class="form-control" [(ngModel)]="classValue">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showClassUpdateMessage">
                                    {{classUpdateMessage}}
                                </p>
                                <button class="btn btn-sm default-color-dark text-white mx-0 my-3" (click)="updateClass()">Update</button>
                                <button class="btn btn-sm unique-color-dark text-white my-3" (click)="deleteClass()">Detele</button>
                            </div>


                            <div class="addnew my-5">
                                <h4>Edit Subject</h4>
                                <label for="selectboard">Select Boards</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="selectBoardForSubject" (change)="selectClass($event)">
                                    <option disabled="disabled" selected="selected">(Select Board)</option>
                                    <ng-container *ngFor = "let board of boardList">
                                        <!-- <option value="{{board.id}}">{{board.name}}</option> -->
                                        <option value="{{board.board}}">{{board.board}}</option>
                                    </ng-container>
                                </select>

                                <label for="selectclass">Select Class</label>
                                <select class="browser-default custom-select mb-4" [(ngModel)]="selectClassForSubject" (change)="fetchSubject($evt)">
                                    <option disabled="disabled" selected="selected">(Select Class)</option>
                                    <ng-container *ngFor = "let data of filterClassList">
                                        <option value="{{data.className}}">{{data.className}}</option>
                                    </ng-container>
                                </select>


                                <label for="classSubject">Class Subject</label>
                                <select class="browser-default custom-select mb-4" id="classSubject" (change)="showSubject()" [(ngModel)]="selectSubjectForUpdate">
                                    <option disabled="disabled" selected="selected">(Select Subject)</option>
                                    <ng-container *ngFor = "let data of filterSubjectList">
                                        <option value="{{data.subjectName}}">{{data.subjectName}}</option>
                                    </ng-container>
                                </select>

                                <label for="subjectName">Subject Name</label>
                                <input type="text" placeholder="Subject Name" class="form-control" [(ngModel)]="subjectValue">
                                <p class="form-text text-danger font-small mb-0" *ngIf = "showSubjectUpdateMessage">
                                    {{subjectUpdateMessage}}
                                </p>
                                <button class="btn btn-sm default-color-dark text-white mx-0 my-3" (click)="updateSubject()">Update</button>
                                <button class="btn btn-sm unique-color-dark text-white my-3" (click)="deleteSubject()">Detele</button>
                            </div>
                            
                        </div>
                    </div>
                </div>



                <div class="card my-5">
                    <div class="card-body px-3">                         
                        <form class="text-left pb-3 px-2"> 
                            <h4>Edit Other Category</h4>  
                            <hr>
                            <!-- <div class="addnew">
                                <label>Select Course Category</label>
                                <select class="browser-default custom-select mb-4">
                                    <option disabled="disabled" selected="selected">Course Category</option>
                                    <option value="1">GZ Specials</option>
                                </select>

                                <label for="addcc">Course Category</label>
                                <input type="text" placeholder="Course Category Name" class="form-control">
                                <button class="btn btn-sm default-color-dark text-white mx-0 my-3">Update</button>
                                <button class="btn btn-sm unique-color-dark text-white my-3">Detele</button>
                            </div> -->







                            <div class="addnew my-5">
                                <h4>Edit Course Type</h4>
                                <label>Course Category</label>
                                <input type="text" placeholder="Course Type" class="form-control mb-4" value="GZ Specials" readonly disabled>

                                <label for="ct">Course Type</label>
                                <select class="browser-default custom-select mb-4">
                                    <option disabled="disabled" selected="selected">Type of Course</option>
                                    <option value="1">Language</option>
                                    <option value="2">I.T</option>
                                    <option value="3">Music</option>
                                </select>

                                <label for="addboard">Course Type</label>
                                <input type="text" placeholder="Course Type" class="form-control">
                                <button class="btn btn-sm default-color-dark text-white mx-0 my-3">Update</button>
                                <button class="btn btn-sm unique-color-dark text-white my-3">Detele</button>
                            </div>







                            <div class="addnew my-5">
                                <h4>Edit Course</h4>
                                <label>Course Category</label>
                                <input type="text" placeholder="Course Type" class="form-control mb-4" value="GZ Specials" readonly disabled>

                                <label for="ct">Course Type</label>
                                <select class="browser-default custom-select mb-4">
                                    <option disabled="disabled" selected="selected">Type of Course</option>
                                    <option value="1">Language</option>
                                    <option value="2">I.T</option>
                                    <option value="3">Music</option>
                                </select>

                                <label for="cn">Course Name</label>
                                <select class="browser-default custom-select mb-4" id="cn">
                                    <option disabled="disabled" selected="selected">Name of Course</option>
                                    <option value="1">English</option>
                                    <option value="2">French</option>
                                    <option value="2">German</option>
                                    <option value="2">Spannish</option>
                                </select>

                                <label for="subjectName">Course Name</label>
                                <input type="text" placeholder="Course Name" class="form-control">
                                <button class="btn btn-sm default-color-dark text-white mx-0 my-3">Update</button>
                                <button class="btn btn-sm unique-color-dark text-white my-3">Detele</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
        
</div>