<!-- Footer Starts -->
<footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="../../assets/svg/logo.svg" alt="Gyan Zeal Logo">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum sem ligula. Phasellus eleifend vel justo sit amet volutpat. Duis vitae maximus ligula, nec mattis libero. Donec eget felis odio.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mt-3 mb-4">Classes</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/learning">CBSE</a>
                    </li>
                    <li>
                        <a href="/learning">ICSE</a>
                    </li>
                    <li>
                        <a href="/learning">Delhi Board</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="text-uppercase mt-3 mb-4">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/featured">Featured</a>
                    </li>
                    <li>
                        <a href="/popular">Popular</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="text-uppercase mt-3 mb-4">Support</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/mailto:support@gyanzeal">Mail Me</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Me</a>
                    </li>
                    <li>
                        <a href="/signup">Account</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

    
    <hr>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Made In <i class="fa heartbeat pink-text fa-heart"></i> With INDIA. © 2019 - 2020. <a href="/"> Gyanzeal</a> All Rights Reserved.
    </div>
    <!-- Copyright -->
</footer>

<a id="back-to-top" href="#" class="shadow-lg back-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            <!-- Footer Ends -->