<!-- Hero Image -->
<div class="card card-image calcV100 matop hero-image matop border-0">
    <div class="text-white text-center rgba-black-strong px-4 calcV100">
        <div class="calcV100 d-flex align-items-center justify-content-center">
            <div class="container">
                <h1 class="fredoka display-4" data-aos="fade-right"><span class="swap fredoka">Learners</span> Start Here</h1>
                <p class="text-capitalize w-responsive mx-auto my-2" data-aos="fade-left">ZEALERS! New Age Approach to Better Learning</p>
                <div class="my-2">
                    <button class="btn btn-lg primary-color-dark text-white waves-effect btn-rounded read-more hvr-sweep-to-right" data-aos="fade-up">Get Started Here</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Why Us Starts-->
<div class="container-fluid py-5">
    <h1 class="fredoka text-center mt-4">Why Us</h1>
    <p class="text-center">Reasons to choose us over others</p>

    <div class="container mb-5">
        <div class="col-12">
            <div class="row justify-content-center">

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/adaptive-learning.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Adaptive Learning</h4>
                            <p class="card-text text-justify line-clamp-5">Learning with GyanZeal is dynamic, Interactive and responsive to unique learning needs of each child.</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/interactive-classes.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Live & Interactive Education</h4>
                            <p class="card-text text-justify line-clamp-5">We bring complex concepts to life and enables you to interact, engage and play with them. Your involvement in these lessons is going to be so complete, that comprehension and retension will be enabled automatically!</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/convenient-safe-learning.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Convenient & Safe</h4>
                            <p class="card-text text-justify line-clamp-4">No need to travel anywhere, Don't step out, Learn at convinience & saftey from your home.</p>
                        </div>
                    </div>
                    
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/flexible-time-schedule.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Enjoy Flexible Time Schedule</h4>
                            <p class="card-text text-justify line-clamp-5">Learn Live – anytime & anywhere. You get to decide how much time you want to invest to learning.</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/student-friendly-environment.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Student Friendly Environment</h4>
                            <p class="card-text text-justify line-clamp-5">Easy to use and Engaging User Interface. Analyze your progress and performance at every step.</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/curriculum-coverage.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">100% Curriculum Coverage</h4>
                            <p class="card-text text-justify line-clamp-4">Missed school classes? Concepts not clear? Don’t worry! we’ve got it covered A-Z.</p>
                        </div>
                    </div>
                    
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/experienced-teachers.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Experienced Teaching faculty</h4>
                            <p class="card-text text-justify line-clamp-5">We bring you the best of our own local teachers who understand you and your needs.</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/pocket-friendly.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Pocket friendly</h4>
                            <p class="card-text text-justify line-clamp-5">Courses available at same tuition amounts you are comfortable with. No Shocks to your budget.</p>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-4 col-xl-4 my-5 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top rounded" src="../../assets/svg/parents-satisfaction.svg" alt="Card image cap">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-muted mt-3">Parent Satisfaction</h4>
                            <p class="card-text text-justify line-clamp-4">Choose a safe and secure tutoring option. Reduce stress from homework while staying involved in your child’s learning. Save time.</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Why us Ends -->


<!-- How Does it Works Starts -->
<!-- <div class="container-fluid cloudy-knoxville-gradient py-5">
    <h1 class="fredoka text-center">How does it works?</h1>
    <p class="text-center">Get an interactive online tuition in the comfort of your own home with these simple steps!</p>

    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-4 mb-5 d-block d-md-flex align-items-stretch" data-aos="fade-right">
                <div class="card testimonial-card">
                    <div class="card-up purple-gradient"></div>
                    <div class="avatar mx-auto white">
                        <img src="../../assets/svg/register.svg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="mb-2 text-muted text-center">Register With Us</h6>
                        <hr>
                        <p class="dark-grey-text mt-3 text-muted"><i class="fa fa-quote-left pr-2 text-muted"></i>Sign Up and Register with GyanZeal.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 mb-5 d-block d-md-flex align-items-stretch" data-aos="flip-left">
                <div class="card testimonial-card">
                    <div class="card-up blue-gradient"></div>
                    <div class="avatar mx-auto white">
                        <img src="../../assets/svg/choose-your-course.svg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="mb-2 text-muted text-center">Choose Your Course</h6>
                        <hr>
                        <p class="dark-grey-text mt-3 text-muted"><i class="fa fa-quote-left pr-2 text-muted"></i>Login to your account, choose your class and subject.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 mb-5 d-block d-md-flex align-items-stretch" data-aos="flip-right">
                <div class="card testimonial-card">
                    <div class="card-up aqua-gradient"></div>
                    <div class="avatar mx-auto white">
                        <img src="../../assets/svg/book-batch.svg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="mb-2 text-muted text-center">Book Your Batch</h6>
                        <hr>
                        <p class="dark-grey-text mt-3 text-muted"><i class="fa fa-quote-left pr-2 text-muted"></i>Select and book from the available batches that is convenient to you.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 mb-5 d-block d-md-flex align-items-stretch" data-aos="fade-left">
                <div class="card testimonial-card">
                    <div class="card-up peach-gradient"></div>
                    <div class="avatar mx-auto white">
                        <img src="../../assets/svg/start-journey.svg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="mb-2 text-muted text-center">Start Your Journey</h6>
                        <hr>
                        <p class="dark-grey-text mt-3 text-muted"><i class="fa fa-quote-left pr-2 text-muted"></i>Connect with your tutor in live sessions, and let your GyanZeal be fulfilled!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->
<!-- How Does it Works Ends -->

<!-- How Does it Works Starts -->
<div class="container-fluid heavy-rain-gradient py-5">
    <h1 class="fredoka text-center">How does it works?</h1>
    <p class="text-center">Get an interactive online tuition in the comfort of your own home with these simple steps!</p>
</div>

<div class="container-fluid default-color-dark py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 my-3">
                <img src="../../assets/svg/registration-lg.svg" alt="">
            </div>
            <div class="col-md-6 my-3 text-center text-md-right">
                <p class="amplesoft m-0 text-white">Step 1</p>
                <h1 class="display-4 amplesoft-medium font-weight-bold text-white">Registration</h1>
                <p class="text-white">Sign Up and Register yourself with GyanZeal</p>
            </div>
        </div>        
    </div>
</div>


<div class="container-fluid primary-color-dark py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 my-3 text-center text-md-left">
                <p class="amplesoft m-0 text-white">Step 2</p>
                <h1 class="display-4 amplesoft-medium font-weight-bold text-white">Course Selection</h1>
                <p class="text-white">Login to your account, choose your class and subject.</p>
            </div>
            <div class="col-md-6 my-3 px-0">
                <img src="../../assets/svg/choose-your-course-lg.svg" alt="">
            </div>
        </div>        
    </div>
</div>


<div class="container-fluid unique-color-dark py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 my-3">
                <img src="../../assets/svg/batch-booking.svg" alt="">
            </div>
            <div class="col-md-6 my-3 text-center text-md-right">
                <p class="amplesoft m-0 text-white">Step 3</p>
                <h1 class="display-4 amplesoft-medium font-weight-bold text-white">Batch Booking</h1>
                <p class="text-white">Select and book from the available batches that is convenient to you.</p>
            </div>
        </div>        
    </div>
</div>


<div class="container-fluid unique-color py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 my-3 text-center text-md-left">
                <p class="amplesoft m-0 text-white">Step 4</p>
                <h1 class="display-4 amplesoft-medium font-weight-bold text-white">Begin Learning</h1>
                <p class="text-white">Connect with your tutor in live sessions, and let your GyanZeal be fulfilled!</p>
            </div>
            <div class="col-md-6 my-3 px-0">
                <img src="../../assets/svg/begin-journey.svg" alt="">
            </div>
        </div>        
    </div>
</div>

<!-- How Does it Works Ends -->


<!-- We are here to help you Starts -->
<div class="card card-image matop help-image border-0 m-0">
    <div class="text-white text-center rgba-black-strong">
        <div class="d-flex align-items-center justify-content-center">
            <div class="container py-5 my-5">
                <h1 class="display-4 my-2" data-aos="fade-right">We're here to help</h1>
                <p class="w-responsive mx-auto my-4">Our Support Team is here for you 24/7 to help you through your course creation needs. Use our Teaching Center, a resource center to help you through the process. Join Studio U and get peer-to-peer support from our engaged instructor community. This community group is always on, always there, and always helpful.</p>
                <div class="my-2">
                    <a href="" role="button" class="btn btn-lg unique-color-dark text-white hvr-sweep-to-right btn-rounded waves-effect" data-aos="fade-up">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- We are here to help you Ends -->

<!-- Become a teacher Starts -->
<div class="container-fluid heavy-rain-gradient py-5">
    <h1 class="fredoka text-center">Want to be a Teacher?</h1>
    <p class="text-center m-0">Create your account as a Teacher and share your skills with the millions of students Today.</p>
    <p class="text-center m-0">Join India's largest Online Teaching Platform.</p>
    <div class="mt-2 text-center">
        <a href="" role="button" class="btn btn-lg default-color-dark text-white">Apply Now</a>
    </div>
</div>
<!-- Become a teacher Ends -->