<div class="container-fluid cloudy-knoxville-gradient py-2 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="col bg-white py-3">
            <h2 class="fredoka">My Purchases</h2>
            <p>Below are the list of your all purchases.</p>
            <hr>
            
            <div class="col">
                <h2 class='mb-3'>Basic example</h2>
                <table id="purchase-table" class="table" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Date of Payment</th>
                            <th class="th-sm">Course Name</th>
                            <th class="th-sm">Amount</th>
                            <th class="th-sm">Mode Of Payment</th>
                            <th class="th-sm">Download Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>06 May 2020</td>
                            <td>English - Grade 1</td>
                            <td>INR 2000</td>
                            <td>Cash</td>
                            <td class="text-md-right text-center pt-1"><button class="btn btn primary-color-dark text-white"><i class="far fa-file-pdf"></i></button></td>
                        </tr>
                        <tr>
                            <td>08 May 2020</td>
                            <td>Hindi - Grade 1</td>
                            <td>INR 1699</td>
                            <td>Cash</td>
                            <td class="text-md-right text-center pt-1"><button class="btn btn primary-color-dark text-white"><i class="far fa-file-pdf"></i></button></td>
                        </tr>
                        <tr>
                            <td>05 June 2020</td>
                            <td>Sanskrit - Garde 1</td>
                            <td>INR 1599</td>
                            <td>Online Payment</td>
                            <td class="text-md-right text-center pt-1"><button class="btn btn primary-color-dark text-white"><i class="far fa-file-pdf"></i></button></td>
                        </tr>
                        <tr>
                            <td>07 Jun 2020</td>
                            <td>Mathematics - Grade 1</td>
                            <td>INR 4699</td>
                            <td>Online Payment</td>
                            <td class="text-md-right text-center pt-1"><button class="btn btn primary-color-dark text-white"><i class="far fa-file-pdf"></i></button></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    
</div>