<div class="container-fluid cloudy-knoxville-gradient py-2 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="col bg-white py-3">
            <h2 class="fredoka">My Purchases</h2>
            <p>Below are the list of your all purchases.</p>
            <hr>
            <div class="col">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-3 px-md-2 p-0 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><a>Course 1</a></h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="#" class="btn primary-color-dark text-white btn-sm mx-0">View Details</a>
                            </div>                          
                        </div>
                    </div>
                    
                    <div class="col-md-3 px-md-2 p-0 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><a>Course 1</a></h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="#" class="btn primary-color-dark text-white btn-sm mx-0">View Details</a>
                            </div>                          
                        </div>
                    </div>
    
                    <div class="col-md-3 px-md-2 p-0 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><a>Course 1</a></h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="#" class="btn primary-color-dark text-white btn-sm mx-0">View Details</a>
                            </div>                          
                        </div>
                    </div>
    
                    <div class="col-md-3 px-md-2 p-0 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><a>Course 1</a></h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="#" class="btn primary-color-dark text-white btn-sm mx-0">View Details</a>

                            </div>                          
                        </div>
                    </div>
                </div>
                
            </div>

            <a href="" role="button" class="btn text-white stylish-color my-4">Enroll More Courses</a>
            


        </div>
    </div>
    
</div>