<div class="container-fluid cloudy-knoxville-gradient py-5 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="col-md-6 mx-auto bg-white py-3">
            <h2 class="fredoka text-center">Change your Password</h2>
            <p class="text-center">Just make your password more secure</p>
            <hr>
            <div class="col">
                <form class="text-center border border-light p-0" action="#!">
                    <label for="npass">New Password</label>
                    <input type="password" id="npass" class="form-control mb-4" placeholder="New Password">
                    <label for="rpass">Repeat Password</label>
                    <input type="password" id="rpass" class="form-control mb-4" placeholder="Repeat Password">
                    <button class="btn primary-color-dark text-white btn-block my-4" type="submit">Change Password</button>                
                </form>
            </div>
        </div>
    </div>
    
</div>