<div class="container-fluid cloudy-knoxville-gradient py-2 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-8"><img src="../../assets/svg/teacher-login-page.svg" alt="" class="my-4 my-md-0"></div>
            <div class="col-md-4">
                <h2 class="fredoka">Teacher Log In</h2>
                <p>This is a secure system you need to provide your username and password to enter.</p>

                <form class="text-left" action="#!">
                    <!-- <hr> -->
                    <div class="text-center social-btn my-3">
                        <a href="#" class="btn btn-primary btn-sm"><i class="fab fa-facebook-f"></i> Facebook Login</a>
                        <a href="#" class="btn btn-danger btn-sm"><i class="fab fa-google"></i> Google Login</a>
                    </div>
                    <div class="or-seperator my-3"><span>OR</span></div>

                    <!-- Name -->
                    <label for="name">Email</label>
                    <input type="text" id="name" class="form-control mb-4" placeholder="Username or Email">
    
                    <label for="password">Password</label>
                    <input type="password" id="name" class="form-control mb-4" placeholder="Password">
    
                    <div class="d-flex justify-content-between mb-2">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a [routerLink]="['/reset-password/teacher']">Forgot password?</a>
                        </div>
                    </div>
                    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
                    <p>Not a registered Teacher yet?
                        <a [routerLink]="['/signup/teacher']">Register here</a>
                    </p>
                </form>
            </div> 
        </div>
    </div>
    
</div>