<div class="container-fluid cloudy-knoxville-gradient py-2 py-lg-5 matop">
    
    <div class="container-md">
        <div class="row">
            
            <div class="col rounded-lg">
                <div class="card mb-4">
                    <!-- Center Content -->
                    <div class="card-body px-3">                         
                        <form class="text-left pb-3 px-2" action="#!"> 
                            <h4>Student Management (Scholastic)</h4>  
                            <hr>
                            <h4>Filter Students</h4>
                            <div class="form-row">
                                <div class="col-md">
                                    <label for="selectboard">Class</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Select Class)</option>
                                        <option value="1">Class 1</option>
                                        <option value="2">Class 2</option>
                                        <option value="2">Class 3</option>
                                    </select>
                                </div>
    
                                <div class="col-md">
                                    <label for="selectboard">Demographic Location</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Select State)</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>

                                <div class="col-md">
                                    <label for="selectboard">Demographic Location</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Select City)</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>

                                <div class="col-md">
                                    <label for="selectboard">Status</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Student Status)</option>
                                        <option value="1">Active</option>
                                        <option value="2">Suspended</option>
                                        <option value="3">Inactive</option>
                                        <option value="4">Old Student</option>
                                    </select>
                                </div>
                            </div>
                            
                            <hr>

                            <table id="teacher-details-table" class="table" width="100%">
                                <thead>
                                    <tr>
                                        <th class="th-sm">Name</th>
                                        <th class="th-sm">Phone</th>
                                        <th class="th-sm">Email</th>
                                        <th class="th-sm">Class</th>
                                        <th class="th-sm">Date of Joining</th>
                                        <th class="th-sm">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="admin-student-detail">Chandan Kanyal</a></td>
                                        <td>8909415161</td>
                                        <td>chandansinghkanyal@gmail.com</td>
                                        <td>Class 4</td>
                                        <td>12 July 2020</td>
                                        <td class="text-success">Active</td>
                                    </tr>



                                    <tr>
                                        <td><a href="admin-student-detail"> Mihir Jain </a></td>
                                        <td>6589745662</td>
                                        <td>jainmihir84@gmail.com</td>
                                        <td>Class 9</td>
                                        <td>18 July 2020</td>
                                        <td class="text-danger">Suspended</td>
                                    </tr>



                                    
                                    <tr>
                                        <td><a href="admin-student-detail">Chandan Kanyal</a></td>
                                        <td>8909415161</td>
                                        <td>chandansinghkanyal@gmail.com</td>
                                        <td>Class 4</td>
                                        <td>20 July 2020</td>
                                        <td class="text-danger">Suspended</td>
                                    </tr>



                                    <tr>
                                        <td><a href="admin-student-detail"> Mihir Jain </a></td>
                                        <td>6589745662</td>
                                        <td>jainmihir84@gmail.com</td>
                                        <td>Class 9</td>
                                        <td>26 July 2020</td>
                                        <td class="text-success">Active</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>                        
                    </div>
                </div>

                <div class="card">
                    <!-- Center Content -->
                    <div class="card-body px-3">                         
                        <form class="text-left pb-3 px-2" action="#!"> 
                            <h4>Student Management (GZ Specials)</h4>  
                            <hr>
                            <h4>Filter Students</h4>
                            <div class="form-row">
                                <div class="col-md">
                                    <label for="selectboard">Course Category</label>
                                    <select class="browser-default custom-select mb-4">
                                        <option value="0" disabled="disabled" selected="selected">(Select Category)</option>
                                        <option value="1">Programming</option>
                                        <option value="2">Music</option>
                                        <option value="2">Dance</option>
                                    </select>
                                </div>

                                <div class="col-md">
                                    <label for="selectboard">Course Name</label>
                                    <select class="browser-default custom-select mb-4">
                                        <option value="0" disabled="disabled" selected="selected">(Select Course Name)</option>
                                        <option value="1">C++</option>
                                        <option value="2">C#</option>
                                        <option value="2">Python</option>
                                    </select>
                                </div>
    
                                <div class="col-md">
                                    <label for="selectboard">Demographic Location</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Select State)</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>

                                <div class="col-md">
                                    <label for="selectboard">Demographic Location</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Select City)</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>

                                <div class="col-md">
                                    <label for="selectboard">Status</label>
                                    <select class="browser-default custom-select mb-4" id="selectboard">
                                        <option value="0" disabled="disabled" selected="selected">(Student Status)</option>
                                        <option value="1">Active</option>
                                        <option value="2">Suspended</option>
                                        <option value="3">Inactive</option>
                                        <option value="4">Old Student</option>
                                    </select>
                                </div>
                            </div>
                            
                            <hr>

                            <table id="student-gz-details" class="table" width="100%">
                                <thead>
                                    <tr>
                                        <th class="th-sm">Name</th>
                                        <th class="th-sm">Phone</th>
                                        <th class="th-sm">Email</th>
                                        <th class="th-sm">Course Name</th>
                                        <th class="th-sm">Date of Joining</th>
                                        <th class="th-sm">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="admin-student-detail">Chandan Kanyal</a></td>
                                        <td>8909415161</td>
                                        <td>chandansinghkanyal@gmail.com</td>
                                        <td>Python</td>
                                        <td>12 July 2020</td>
                                        <td class="text-success">Active</td>
                                    </tr>



                                    <tr>
                                        <td><a href="admin-student-detail"> Mihir Jain </a></td>
                                        <td>6589745662</td>
                                        <td>jainmihir84@gmail.com</td>
                                        <td>C++</td>
                                        <td>18 July 2020</td>
                                        <td class="text-danger">Suspended</td>
                                    </tr>



                                    
                                    <tr>
                                        <td><a href="admin-student-detail">Chandan Kanyal</a></td>
                                        <td>8909415161</td>
                                        <td>chandansinghkanyal@gmail.com</td>
                                        <td>C++</td>
                                        <td>20 July 2020</td>
                                        <td class="text-danger">Suspended</td>
                                    </tr>



                                    <tr>
                                        <td><a href="admin-student-detail"> Mihir Jain </a></td>
                                        <td>6589745662</td>
                                        <td>jainmihir84@gmail.com</td>
                                        <td>C#</td>
                                        <td>26 July 2020</td>
                                        <td class="text-success">Active</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>