<div class="container-fluid cloudy-knoxville-gradient py-2 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="col bg-white py-3">
            <p><a href="javascript:history.go(-1)" class="text-decoration-none text-secondary"><i class="fas fa-caret-left"></i> Go back</a></p>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="col p-0">Gyanzeal Order</div>
                    <div class="col p-0">Transaction ID: 1024529694BGH</div>
                </div>
                <div class="col text-right">
                    <div class="col p-0 font-small">Amount to be paid</div>
                    <div class="col p-0"> <i class="fas fa-rupee-sign"></i> 4800</div>
                </div>
            </div>
        </div>

        <div class="col my-2 bg-white py-3">
            <div class="col p-0">
                <p class="text-uppercase font-small">Select an option to pay</p>
                <hr>
                
                <div class="custom-control custom-radio my-3">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">
                        <div class="row">
                            <div class="col">
                                <div class="col p-0">Gyanzeal Wallet</div>
                                <div class="col p-0 text-secondary">Available Balance:  <i class="fas fa-rupee-sign"></i> 35 </div>
                                <small class="text-danger">Insufficient Balance for this transaction</small>
                            </div>
                        </div>
                    </label>
                </div>
            
                <div class="custom-control custom-radio my-3">
                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                    <label class="custom-control-label" for="defaultChecked">
                        <div class="row">
                            <div class="col">
                                <div class="col p-0">Online Payment</div>
                                <div class="col p-0 text-secondary">Payumoney (Debit/Credit Card, UPI, Net Banking, Cash Cards, Wallets...)</div>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col text-center mt-4">
                    <button class="btn btn-lg default-color-dark text-white mx-0">Pay Now</button>
                </div>
                
            </div>
        </div>

        <div class="col grey lighten-3 py-3">
            <p class="mb-0 font-small"><i class="far fa-check-square text-success"></i> 100% Safe & Secure Payments powered by Gyanzeal</p>
        </div>
    </div>
    
</div>