<div class="container-fluid cloudy-knoxville-gradient py-2 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="col-md-6 mx-auto bg-white py-3">
            <p><a href="javascript:history.go(-1)" class="text-decoration-none text-secondary"><i class="fas fa-caret-left"></i> Go back</a></p>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="col p-0">Gyanzeal Wallet Balance</div>
                    <div class="col p-0 text-secondary font-small">Account Credits</div>
                </div>
                <div class="col text-right">
                    <div class="col p-0"> <i class="fas fa-rupee-sign"></i> 35</div>
                    <div class="col p-0 font-small text-secondary"> Available Balance</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mx-auto my-2 bg-white py-3">
            <div class="col p-0">
                <h4 class="fredoka">Add Money to wallet</h4>
                <p class="text-uppercase font-small">Select an option to pay</p>
                <hr>
                
                <div class="col px-0">
                    <p class="mb-0 text-success">To get your wallet refilled please vist near by office.</p>
                    <div class="row">
                        <div class="col">                
                            <!-- <label for="ostate">Choose State</label> -->
                            <select class="browser-default custom-select mb-4" id="ostate">
                                <option selected value="0" readonly disabled>Select State</option>
                                <option value="1">Haryana</option>
                            </select>               
                        </div>
    
                        <div class="col">
                            <!-- <label for="ocity">Choose City</label> -->
                            <select class="browser-default custom-select mb-4" id="ocity">
                                <option selected value="0" readonly disabled>Select City</option>
                                <option value="1">Kurukshetra</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col py-3 text-white rounded-lg warning-color-dark d-none" id="headquater-list">
                    <h5>Corporate Headquarter</h5>
                    <p class="text-white mb-0 font-small">One97 Communications Limited</p>
                    <p class="text-white mb-0 font-small">B 121, Sector 5</p>
                    <p class="text-white mb-0 font-small">Noida - 201 301, India</p>
                    <p class="text-white mb-0 font-small">Phone: +91-120- 4770770</p>
                    <p class="text-white mb-0 font-small">Fax: +91-120- 4770771</p>
                    <p class="text-white mb-0 font-small">Customer Care: 0120-38883888</p>
                </div>
                

                <div class="custom-control custom-radio my-3">
                    <input type="radio" class="custom-control-input" id="redeem-code" name="redeem-code">
                    <label class="custom-control-label" for="redeem-code">
                        <div class="row d-block">
                            <div class="col">
                                <div class="col p-0">Redeem Code</div>
                                <div class="col p-0 text-secondary">Get redeem code from office</div>
                            </div>
                        </div>
                    </label>
                    <input type="text" placeholder="Enter 12 Digit Redeem Code Here" class="form-control">
                </div>

                <div class="col text-center mt-4">
                    <button class="btn btn-lg default-color-dark text-white mx-0">Add Money</button>
                </div>
                
            </div>
        </div>

        <div class="col-md-6 mx-auto bg-white py-3">
            <p>Wallet History</p>
            <hr>
            <div class="row my-4">
                <div class="col-9">
                    <div class="col p-0">Money Added (12 Jun 2020)</div>
                    <div class="col p-0 text-secondary">Account Credits</div>
                </div>
                <div class="col-3 text-right">
                    <div class="col p-0 text-success"> + <i class="fas fa-rupee-sign font-small"></i> 35</div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-9">
                    <div class="col p-0">Monthly Installment (18 Jun 2020)</div>
                    <div class="col p-0 text-secondary">English Para - Grade 3</div>
                </div>
                <div class="col-3 text-right">
                    <div class="col p-0 text-danger"> - <i class="fas fa-rupee-sign font-small"></i> 1299</div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-9">
                    <div class="col p-0">Monthly Installment (10 Jul 2020)</div>
                    <div class="col p-0 text-secondary">Mathematics Course Alpha - Grade 3</div>
                </div>
                <div class="col-3 text-right">
                    <div class="col p-0 text-danger"> - <i class="fas fa-rupee-sign font-small"></i> 1899</div>
                </div>
            </div>

            <button class="btn btn-block unique-color-dark text-white">View More</button>
        </div>

        <div class="col-md-6 mx-auto grey lighten-3 py-3">
            <p class="mb-0 font-small"><i class="far fa-check-square text-success"></i> 100% Safe & Secure Payments powered by Gyanzeal</p>
        </div>
    </div>
    
</div>