<div class="container-fluid cloudy-knoxville-gradient py-2 py-lg-5 matop">
    
    <div class="container-md">
        <div class="row">
            <!-- Left -->
            <div class="col-lg-3 my-2 my-lg-0">
                <button class="btn btn-block bg-white left-btn" id="ts">Today's Schedule</button>
                <button class="btn btn-block bg-white left-btn" id="myc">My Courses</button>
                <button class="btn btn-block bg-white left-btn" id="ec">Enroll Courses</button>
            </div>    
            
            <!-- Default Right -->
            <div class="col-lg-9 rounded-lg default-view">
                <div class="card">
                  
                    <!-- Center Content -->
                    <div class="card-body">
                        <!-- Welcome -->
                        <h4 class="card-title">Good Afternoon, Chandan</h4>
                        <!-- Welcome Ends -->


                        <!-- Ongoing Classes Starts -->
                        <div class="ongoing-classes">
                            <!-- <h5 class="mt-5 mb-0">Ongoing Classes</h5>
                            <hr> -->

                            <div class="row my-3 mb-5 mb-md-0">
                                <div class="col-md-2">
                                    <div class="text-center peach-gradient rounded-lg">
                                        <div class="col text-uppercase text-white py-2 px-0">6 June</div>
                                        <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                    </div>
                                </div>
                                <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                    <h4 class="chapter-name">Chapter 5 - English</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center py-2">
                                        <p class="m-0">5:00PM - 6:00PM</p>
                                    </div>
                                    <button class="btn btn-block primary-color-dark text-white">Join Class</button>
                                </div>
                            </div>
                        </div>
                        <!-- Ongoing Classes Ends -->



                        <!-- Upcoming Classes Starts -->
                        <div class="upcoming-classes">
                            <!-- <h5 class="mt-5 mb-0">Upcoming Classes</h5>
                            <hr> -->

                            <div class="row my-3 mb-5 mb-md-0">
                                <div class="col-md-2">
                                    <div class="text-center peach-gradient rounded-lg">
                                        <div class="col text-uppercase text-white py-2 px-0">6 June</div>
                                        <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                    </div>
                                </div>
                                <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                    <h4 class="chapter-name">Chapter 1 - English</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="unique-color text-white rounded-lg text-center py-2">
                                        <p>Batch Timing</p>
                                        <p class="m-0">5:00PM - 6:00PM</p>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row my-3 mb-5 mb-md-0">
                                <div class="col-md-2">
                                    <div class="text-center peach-gradient rounded-lg">
                                        <div class="col text-uppercase text-white py-2 px-0">10 June</div>
                                        <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                    </div>
                                </div>
                                <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                    <h4 class="chapter-name">Chapter 1 - English</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="unique-color text-white rounded-lg text-center py-2">
                                        <p>Batch Timing</p>
                                        <p class="m-0">6:00PM - 7:00PM</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Upcoming Classes Ends -->


                        <!-- Missed Classes Starts -->
                        <div class="missed-classes">
                            <h5 class="mt-5 mb-0">Missed Classes</h5>
                            <hr>

                            <div class="row my-3 mb-5 mb-md-0">
                                <div class="col-md-2">
                                    <div class="text-center peach-gradient rounded-lg">
                                        <div class="col text-uppercase text-white py-2 px-0">6 June</div>
                                        <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                    </div>
                                </div>
                                <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                    <h4 class="chapter-name">Chapter 1 - English</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center py-2">
                                        <p>5:00PM - 6:00PM</p>
                                        <!-- <button class="btn btn-block primary-color-dark text-white btn-sm">Watch Video</button> -->
                                        <button class="btn btn-block primary-color-dark text-white btn-sm">View Summary</button>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row my-3 mb-5 mb-md-0">
                                <div class="col-md-2">
                                    <div class="text-center peach-gradient rounded-lg">
                                        <div class="col text-uppercase text-white py-2 px-0">10 June</div>
                                        <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                    </div>
                                </div>
                                <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                    <h4 class="chapter-name">Chapter 1 - English</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center py-2">
                                        <p>5:00PM - 6:00PM</p>
                                        <!-- <button class="btn btn-block primary-color-dark text-white btn-sm">Watch Video</button> -->
                                        <button class="btn btn-block primary-color-dark text-white btn-sm">View Summary</button>
                                    </div>
                                    
                                </div>
                            </div>

                            <a href="#" role="button" class="btn btn-block blue-gradient text-white">View All</a>
                        </div>
                        <!-- Missed Classes Ends -->
                    </div>
                  
                </div>
            </div>

            <!-- Today Schedule -->
            <div class="col-lg-9 rounded-lg ts d-none right-element">
                <div class="card">
                  
                    <!-- Center Content -->
                    <div class="card-body">
                        <div class="classes-list">
                            <h4 class="mb-0"><b>06 June 2020 (MONDAY)</b></h4>
                            <hr>
                            <div class="col">
                                <div class="row my-3 mb-5 mb-md-0 border">
                                    <div class="col-md-9 mx-md-0 mx-3 my-3 my-md-0 rounded py-2">
                                        <h4 class="chapter-name">Grade 10 - English</h4>
                                        <h6 class="teacher-name">Suman Bansal (PH.D English)</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>05:00PM - 06:00PM</p>
                                            <p class="btn btn-block btn-sm primary-color-dark text-white">Join Now</p>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col">
                                <div class="row my-3 mb-5 mb-md-0 border">
                                    <div class="col-md-9 mx-md-0 mx-3 my-3 my-md-0 rounded py-2">
                                        <h4 class="chapter-name">Grade 10 - English</h4>
                                        <h6 class="teacher-name">Suman Bansal (PH.D English)</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>05:00PM - 06:00PM</p>
                                            <button class="btn btn-block btn-sm primary-color-dark text-white" disabled>Join Now</button>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row my-3 mb-5 mb-md-0 border">
                                    <div class="col-md-9 mx-md-0 mx-3 my-3 my-md-0 rounded py-2">
                                        <h4 class="chapter-name mb-0">Grade 10 - English</h4>
                                        <h6 class="teacher-name mb-0">Suman Bansal (PH.D English)</h6>
                                        <p class="mb-0"><b><span class="text-danger">Reason: </span> Corona Holiday</b></p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>05:00PM - 06:00PM</p>
                                            <button class="btn btn-block btn-sm danger-color-dark text-white" disabled>Class Cancelled</button>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                </div>
            </div>

            <!-- My Courses -->
            <div class="col-lg-9 rounded-lg myc d-none right-element">
                <div class="card">
                  
                    <!-- Center Content -->
                    <div class="card-body">                        
                        <div class="ongoing-course">
                            <!-- Ongoing Course Starts -->
                            <h5 class="mb-0">Ongoing Course</h5>
                            <hr>
                            <a [routerLink]="['/my-courses']" class="text-decoration-none text-dark">
                                <div class="row my-3 mb-5 mb-md-0">
                                    <div class="col-md-2">
                                        <div class="text-center default-color-dark rounded-lg">
                                            <h4 class="col text-uppercase text-white py-3 px-0">1</h4>
                                            <div class="col bg-white border text-uppercase text-secondary py-3 rounded-bottom">Grade</div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                        <h4 class="chapter-name">Mathematics</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                        <p class="mb-0">
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">MO</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TU</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">WE</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TH</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">FR</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SA</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SU</span>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>JUL 01 - AUG 12</p>
                                            <p>5:00PM - 6:00PM</p>
                                            <p class="btn btn-block btn-sm unique-color text-white">Ongoing Course</p>
                                        </div>                                    
                                    </div>
                                </div>
                            </a>


                            <!-- Upcoming Course -->
                            <h5 class="mb-0 mt-5">Upcoming Courses</h5>
                            <hr>
                            <a [routerLink]="['/my-courses']" class="text-decoration-none text-dark">
                                <div class="row my-3 mb-5 mb-md-0">
                                    <div class="col-md-2">
                                        <div class="text-center default-color-dark rounded-lg">
                                            <h4 class="col text-uppercase text-white py-3 px-0">1</h4>
                                            <div class="col bg-white border text-uppercase text-secondary py-3 rounded-bottom">Grade</div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                        <h4 class="chapter-name">Mathematics</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                        <p class="mb-0">
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">MO</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TU</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">WE</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TH</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">FR</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SA</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SU</span>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>JUL 01 - AUG 12</p>
                                            <p>5:00PM - 6:00PM</p>
                                            <p class="btn btn-block btn-sm info-color-dark text-white">Upcoming</p>
                                        </div>                                    
                                    </div>
                                </div>
                            </a>


                            <a [routerLink]="['/my-courses']" class="text-decoration-none text-dark">
                                <div class="row my-3 mb-5 mb-md-0">
                                    <div class="col-md-2">
                                        <div class="text-center default-color-dark rounded-lg">
                                            <h4 class="col text-uppercase text-white py-3 px-0">1</h4>
                                            <div class="col bg-white border text-uppercase text-secondary py-3 rounded-bottom">Grade</div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                        <h4 class="chapter-name">Mathematics</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                        <p class="mb-0">
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">MO</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TU</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">WE</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TH</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">FR</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SA</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SU</span>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>JUL 01 - AUG 12</p>
                                            <p>5:00PM - 6:00PM</p>
                                            <p class="btn btn-block btn-sm info-color-dark text-white">Upcoming</p>
                                        </div>                                    
                                    </div>
                                </div>
                            </a>
                            

                            <!-- Completed -->
                            <h5 class="mb-0 mt-5">Completed Courses</h5>
                            <hr>

                            <a [routerLink]="['/my-courses']" class="text-decoration-none text-dark">
                                <div class="row my-3 mb-5 mb-md-0">
                                    <div class="col-md-2">
                                        <div class="text-center default-color-dark rounded-lg">
                                            <h4 class="col text-uppercase text-white py-3 px-0">1</h4>
                                            <div class="col bg-white border text-uppercase text-secondary py-3 rounded-bottom">Grade</div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                        <h4 class="chapter-name">Mathematics</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                        <p class="mb-0">
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">MO</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TU</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">WE</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TH</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">FR</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SA</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SU</span>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>JUL 01 - AUG 12</p>
                                            <p>5:00PM - 6:00PM</p>
                                            <p class="btn btn-block btn-sm default-color-dark text-white">Completed</p>
                                        </div>                                    
                                    </div>
                                </div>
                            </a>
                            
                            <a [routerLink]="['/my-courses']" class="text-decoration-none text-dark">
                                <div class="row my-3">
                                    <div class="col-md-2 mb-5 mb-md-0">
                                        <div class="text-center default-color-dark rounded-lg">
                                            <h4 class="col text-uppercase text-white py-3 px-0">1</h4>
                                            <div class="col bg-white border text-uppercase text-secondary py-3 rounded-bottom">Grade</div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 mx-md-0 mx-3 my-3 my-md-0 cloudy-knoxville-gradient rounded py-2">
                                        <h4 class="chapter-name">Mathematics</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                        <p class="mb-0">
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">MO</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TU</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">WE</span>
                                            <span class="text-white default-color-dark d-inline-block border p-1 font-small my-2">TH</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">FR</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SA</span>
                                            <span class="text-danger d-inline-block border p-1 font-small my-2">SU</span>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-center py-2">
                                            <p>JUL 01 - AUG 12</p>
                                            <p>5:00PM - 6:00PM</p>
                                            <p class="btn btn-block btn-sm default-color-dark text-white">Completed</p>
                                        </div>                                    
                                    </div>
                                </div>
                            </a>
                            <button class="btn btn-block special-color-dark text-white enroll-new-course">Enroll New Courses</button>
                        </div>
                        <!-- Upcoming Classes Ends -->

                    </div>
                  
                </div>
            </div>

            <!-- Enroll Courses -->
            <div class="col-lg-9 rounded-lg ec d-none right-element">
                <div class="card">
                    <!-- Center Content -->
                    <div class="card-body px-5">    

                        <div class="row d-flex justify-content-md-around">

                            <div class="card col-md-5 mb-4">
                                <div class="card-body px-2">
                                    <h4 class="card-title"><a>Mathematics</a></h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <div class=" d-flex justify-content-md-around">
                                        <a href="#" class="btn danger-color-dark text-white btn-sm">View Detail</a>
                                        <a href="#" class="btn special-color-dark text-white btn-sm">Enroll Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card col-md-5 mb-4">
                                <div class="card-body px-2">
                                    <h4 class="card-title"><a>English</a></h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <div class=" d-flex justify-content-md-around">
                                        <a href="#" class="btn danger-color-dark text-white btn-sm">View Detail</a>
                                        <a href="#" class="btn special-color-dark text-white btn-sm">Enroll Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card col-md-5 mb-4">
                                <div class="card-body px-2">
                                    <h4 class="card-title"><a>Hindi</a></h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <div class=" d-flex justify-content-md-around">
                                        <a href="#" class="btn danger-color-dark text-white btn-sm">View Detail</a>
                                        <a href="#" class="btn special-color-dark text-white btn-sm">Enroll Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card col-md-5 mb-4">
                                <div class="card-body px-2">
                                    <h4 class="card-title"><a>Sanskrit</a></h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <div class=" d-flex justify-content-md-around">
                                        <a href="#" class="btn danger-color-dark text-white btn-sm">View Detail</a>
                                        <a href="#" class="btn special-color-dark text-white btn-sm">Enroll Now</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>