<div class="container-fluid cloudy-knoxville-gradient py-2 py-lg-5 matop">
    
    <div class="container-md">
        <div class="row">
            
            <!-- Default Right -->
            <div class="col-lg-12 mb-3 rounded-lg">
                <div class="card">
                  
                    <!-- Center Content -->
                    <div class="card-body">
                        <div class="enrolled-classes">
                            <div class="row">
                                <div class="col-md-9 pt-4">
                                    <h4 class="chapter-name">Grade 1 - Math 2020</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center py-2">
                                        <h5 class="my-4 text-danger text-right">01 JUL - 12 SEP</h5>
                                    </div>
                                    <!-- Only Admin Can De-Enroll students -->
                                    <!-- <button class="btn btn-block primary-color-dark text-white">De-Enroll</button> -->
                                </div>
                            </div>
                            <hr>
                            <div class="row mt-4">
                                <div class="col d-md-flex justify-content-md-between justify-content-center">
                                    <button class="btn col-sm rounded stylish-color text-white" id="sch">Schedule</button>
                                    <button class="btn col-sm rounded stylish-color text-white" id="prog">Progress</button>
                                </div>                                
                            </div>
                        </div>
                          
                        <!-- Homework Modal -->
                        <div class="modal fade" id="homework" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Homework</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                                </div>

                                <div class="col">
                                    <button class="btn btn-sm unique-color text-white mx-0"><i class="fas fa-paperclip"></i> Download File</button>
                                </div>
                                <div class="modal-footer mt-2">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- Upload Homework Modal -->
                        <div class="modal fade" id="uploadHomework" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Homework</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-paperclip"></i></span>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <button class="btn btn-sm unique-color text-white mx-0">Upload File</button>
                                </div>

                                <div class="col">
                                    <hr>
                                    <p>Previously Uploaded Files</p>

                                    <ul>
                                        <li><p>Filename.png <button class="btn btn-sm danger-color-dark text-white">Delete</button></p></li>
                                        <li><p>Filename.png <button class="btn btn-sm danger-color-dark text-white">Delete</button></p></li>
                                        <li><p>Filename.png <button class="btn btn-sm danger-color-dark text-white">Delete</button></p></li>
                                    </ul>
                                </div>
                                <div class="modal-footer mt-2">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="schedule">
                            <hr>
                            <!-- All Sessions (5 classess held, 0 for upcoming classes) -->
                            <h5>All Sessions (5)</h5>
                            <div class="col-12 my-3">

                                <div class="row border my-3 py-2">
                                    <div class="col-md-2 py-2">
                                        <div class="text-center peach-gradient rounded-lg">
                                            <div class="col text-uppercase text-white py-2 px-0">6 June</div>
                                            <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 mx-md-0 mx-3 my-3 my-md-0 bg-white py-2">
                                        <h4 class="chapter-name">Chapter 1 - Introduction & Chapter 2 - Trignometry</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D Maths)</h6>
                                        <p><span class="text-danger"> Notes: </span>Today We covered introduction to trignomery.</p>
                                    </div>
                                    <div class="col-md-2 text-md-right text-center">
                                        <div class="py-2">
                                            <p class="m-0">5:00PM - 6:00PM</p>
                                        </div>
                                        <button class="btn stylish-color text-white mx-0 btn-sm mx-2 mx-sm-0" data-toggle="modal" data-target="#homework">View Homework</button>
                                        <button class="btn info-color-dark text-white mx-0 btn-sm px-2 mx-2 mx-sm-0" data-toggle="modal" data-target="#uploadHomework">Upload Homework</button>
                                    </div>
                                </div>
                                
                                <div class="row border my-3 py-2">
                                    <div class="col-md-2 py-2">
                                        <div class="text-center peach-gradient rounded-lg">
                                            <div class="col text-uppercase text-white py-2 px-0">8 June</div>
                                            <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 mx-md-0 mx-3 my-3 my-md-0 bg-white py-2">
                                        <h4 class="chapter-name">Chapter 2 - Trignometry</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D Maths)</h6>
                                        <p><span class="text-danger"> Notes: </span>Rules of trignometry using various theories.</p>
                                    </div>
                                    <div class="col-md-2 text-md-right text-center">
                                        <div class="py-2">
                                            <p class="m-0">5:00PM - 6:00PM</p>
                                        </div>
                                        <button class="btn stylish-color text-white mx-0 btn-sm mx-2 mx-sm-0" data-toggle="modal" data-target="#homework">View Homework</button>
                                        <button class="btn info-color-dark text-white mx-0 btn-sm px-2 mx-2 mx-sm-0" data-toggle="modal" data-target="#uploadHomework">Upload Homework</button>
                                    </div>
                                </div>
                                
                                <div class="row border my-3 py-2">
                                    <div class="col-md-2 py-2">
                                        <div class="text-center peach-gradient rounded-lg">
                                            <div class="col text-uppercase text-white py-2 px-0">12 June</div>
                                            <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 mx-md-0 mx-3 my-3 my-md-0 bg-white py-2">
                                        <h4 class="chapter-name">Chapter 1 - Introduction</h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D Maths)</h6>
                                        <p><span class="text-danger"> Notes: </span>Rules of trignometry using various theories.</p>
                                    </div>
                                    <div class="col-md-2 text-md-right text-center">
                                        <div class="py-2">
                                            <p class="m-0">5:00PM - 6:00PM</p>
                                        </div>
                                        <button class="btn stylish-color text-white mx-0 btn-sm mx-2 mx-sm-0" data-toggle="modal" data-target="#homework">View Homework</button>
                                        <button class="btn info-color-dark text-white mx-0 btn-sm px-2 mx-2 mx-sm-0" data-toggle="modal" data-target="#uploadHomework">Upload Homework</button>
                                    </div>
                                </div>


                                <!-- Not Be Available for Upcoming Class -->
                                <div class="row border my-3 py-2 amber lighten-5">
                                    <div class="col-md-2 py-2">
                                        <div class="text-center peach-gradient rounded-lg">
                                            <div class="col text-uppercase text-white py-2 px-0">15 June</div>
                                            <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                        </div>
                                    </div>
                                    <div class="col-md-10 mx-md-0 mx-3 my-3 my-md-0 text-dark py-2">
                                        <h6 class="teacher-name">Gautam Bansal (PH.D Maths)</h6>
                                        <h6 class="Status text-danger"><span class="text-dark">Class Status:</span> Postponed (Technical Error) </h6>
                                    </div>
                                </div>

                                <!-- Not Be Available for Upcoming Class -->
                                <div class="row border my-3 py-2">
                                    <div class="col-md-2 py-2">
                                        <div class="text-center peach-gradient rounded-lg">
                                            <div class="col text-uppercase text-white py-2 px-0">15 June</div>
                                            <div class="col bg-white border text-uppercase text-secondary py-2 rounded-bottom">Mon</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 mx-md-0 mx-3 my-3 my-md-0 text-dark py-2">
                                        <h4 class="chapter-name">Chapter 1 - Introduction <span class="text-danger">(Missed Class)</span></h4>
                                        <h6 class="teacher-name">Gautam Bansal (PH.D Maths)</h6>
                                        <p><span class="text-danger"> Notes: </span>Rules of trignometry using various theories.</p>
                                    </div>

                                    <div class="col-md-2 text-md-right text-center">
                                        <div class="py-2">
                                            <p class="m-0">5:00PM - 6:00PM</p>
                                        </div>
                                        <button class="btn stylish-color text-white mx-0 btn-sm mx-2 mx-sm-0" data-toggle="modal" data-target="#homework">View Homework</button>
                                        <button class="btn info-color-dark text-white mx-0 btn-sm px-2 mx-2 mx-sm-0" data-toggle="modal" data-target="#uploadHomework">Upload Homework</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="progess d-none">
                            <hr>
                            <div class="row">
                                <div class="col d-flex justify-content-between">
                                    <h5>Curiculum Contents</h5>
                                    <h5>Precentage Completed</h5>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="row border rounded-lg py-2 mb-3">
                                    <div class="col-md-10 mx-md-0 mx-3 my-3 my-md-0 bg-white py-2">
                                        <h4 class="chapter-name">Chapter 1 - Introduction</h4>
                                    </div>
                                    <div class="col-md-2 py-2">
                                        <h4 class="text-right text-danger">50%</h4>
                                    </div>
                                </div>

                                <div class="row border rounded-lg py-2 mb-3">
                                    <div class="col-md-10 mx-md-0 mx-3 my-3 my-md-0 bg-white py-2">
                                        <h4 class="chapter-name">Chapter 2 - Trignometry</h4>
                                    </div>
                                    <div class="col-md-2 py-2">
                                        <h4 class="text-right text-danger">0%</h4>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>

            <!-- <div class="col-lg-12 mb-5 rounded-lg">
                <div class="card">
                  
                    <div class="card-body">
                        <div class="enrolled-classes">
                            <div class="row">
                                <div class="col-md-9 pt-4">
                                    <h4 class="chapter-name">Grade 1 - Math 2020</h4>
                                    <h6 class="teacher-name">Gautam Bansal (PH.D English)</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center py-2">
                                        <p class="m-0">01 JUL - 12 SEP</p>
                                    </div>
                                    <button class="btn btn-block primary-color-dark text-white">De-Enroll</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row mt-4">
                                <div class="col d-flex justify-content-between">
                                    <span>Schedule</span>
                                    <span>Contents</span>
                                    <span>Progress</span>
                                    <span>Curriculum</span>
                                </div>                                
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div> -->

        </div>
    </div>
        
</div>