<div class="container-fluid cloudy-knoxville-gradient py-5 matop">
    <h1 class="fredoka text-center">Create a Account</h1>
    <p class="text-center">Welcome to Gyanzeal User Area.</p>

    <div class="container my-5">
        <div class="row">

            
            <div class="col-md-6">
                <a [routerLink]="['/signup/student']" class="text-decoration-none">
                    <div class="card testimonial-card">
                        <div class="card-up blue-gradient"></div>
                        <div class="avatar mx-auto white">
                            <img src="../../assets/svg/student-signup-icon.svg" class="rounded-circle img-fluid">
                        </div>
                        <div class="card-body">
                            <h5 class="mb-2 text-muted text-center text-uppercase">Signup as Student</h5>
                            <hr>
                            <p class="dark-grey-text mt-3 text-muted"><i class="fa fa-quote-left pr-2 text-muted"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col-md-6">
                <a [routerLink]="['/signup/teacher']" class="text-decoration-none">
                    <div class="card testimonial-card">
                        <div class="card-up blue-gradient"></div>
                        <div class="avatar mx-auto white">
                            <img src="../../assets/svg/teacher-signup-icon.svg" class="rounded-circle img-fluid">
                        </div>
                        <div class="card-body">
                            <h5 class="mb-2 text-muted text-center text-uppercase">Become a Teacher</h5>
                            <hr>
                            <p class="dark-grey-text mt-3 text-muted"><i class="fa fa-quote-left pr-2 text-muted"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</div>