<div class="container-fluid cloudy-knoxville-gradient py-2 matop">
    <div class="container-fluid container-lg my-md-5">
        <div class="row d-flex align-items-center">
            <div class="col bg-white shadow rounded-lg">

                <form class="text-left py-3" [formGroup]="teacherForm">

                    <div class="col text-center my-4">
                        <img src="https://www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/img/figure/student.png" class="rounded-circle img-thumbnail" width="100px">
                        <h4 class="my-2">Chandan Kanyal</h4>
                    </div>
                    
                    <h5 class="text-primary"><i class="fas fa-ribbon"></i> Personal Information</h5>
                    <hr>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" class="form-control" placeholder="First name" formControlName="name">
                        </div>
                        <div class="col">
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" class="form-control" placeholder="Last name">
                        </div>
                    </div>

                    <label for="gender">Gender</label>
                    <select class="browser-default custom-select mb-4" id="gender" formControlName="gender">
                        <option value="0" disabled="disabled" selected="selected">Choose your gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Prefer not to say</option>
                    </select>

                    <label for="mobile">Contact Number</label>
                    <input type="text" id="mobile" class="form-control mb-4" placeholder="Mobile Number" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="10"  formControlName="mobile">

                    <label for="semail">Email</label>
                    <input type="email" id="semail" class="form-control mb-4" oninput="this.value=this.value.replace('^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$','')" placeholder="Email" formControlName="email">
                    
                    
                    <!-- <label for="school">School Name</label>
                    <input type="text" id="school" class="form-control mb-4" placeholder="School Name">

                    <label for="board">Board Of Education</label>
                    <select class="browser-default custom-select mb-4" id="board">
                        <option value="0" disabled="disabled" selected="selected">Education Board</option>
                        <option value="1">C.B.S.E.</option>
                        <option value="2">I.C.S.C.</option>
                        <option value="3">State Board</option>
                    </select>

                    <label for="classname">Pursuing Class</label>
                    <select class="browser-default custom-select mb-4" id="classname">
                        <option value="0" disabled="disabled" selected="selected">Choose Class</option>
                        <option value="1">Grade 1</option>
                        <option value="2">Grade 2</option>
                        <option value="3">Grade 3</option>
                        <option value="3">Grade 4</option>
                        <option value="3">Grade 5</option>
                        <option value="3">Grade 6</option>
                        <option value="3">Grade 7</option>
                        <option value="3">Grade 8</option>
                        <option value="3">Grade 9</option>
                        <option value="3">Grade 10</option>
                        <option value="3">Grade 11</option>
                        <option value="3">Grade 12</option>
                    </select> -->


                    <!-- Experience -->
                    <h5 class="text-primary mt-4"><i class="fas fa-ribbon"></i> Experience Information</h5>
                    <hr>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="years">Years</label>
                            <input type="text" id="years" class="form-control" placeholder="Years of experience" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="2" formControlName="experienceYear">
                        </div>
                        <div class="col">
                            <label for="months">Months</label>
                            <input type="text" id="months" class="form-control" placeholder="Months of experience" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="2" formControlName="experienceMonth">
                        </div>
                    </div>
                    <label for="school">School Name (If any)</label>
                    <input type="text" id="school" class="form-control mb-4" placeholder="School Name" formControlName="school">

                    

                    <!-- Contact Info -->
                    <h5 class="text-primary mt-4"><i class="fas fa-ribbon"></i> Contact Information</h5>
                    <hr>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="add1">Street Address Line 1</label>
                            <input type="text" id="add1" class="form-control" placeholder="Street Address Line 1" formControlName="address1">
                        </div>
                        <div class="col">
                            <label for="add2">Street Address Line 2</label>
                            <input type="text" id="add2" class="form-control" placeholder="Street Address Line 2" formControlName="address2">
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="city">City</label>
                            <input type="text" id="city" class="form-control" placeholder="City" formControlName="city">
                        </div>
                        <div class="col">
                            <label for="state">State</label>
                            <input type="text" id="state" class="form-control" placeholder="State" formControlName="state">
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="country">Country</label>
                            <input type="text" id="country" class="form-control" placeholder="Country" formControlName="country">
                        </div>
                        <div class="col">
                            <label for="postal">Postal Code</label>
                            <input type="text" id="postal" class="form-control" placeholder="Postal Code" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="6" formControlName="pinCode">
                        </div>
                    </div>

                    <!-- Bank Info -->
                    <h5 class="text-primary mt-4"><i class="fas fa-ribbon"></i> Payment Information</h5>
                    <hr>
                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="pan">PAN Number</label>
                            <input type="text" id="pan" class="form-control" placeholder="Pan Number" formControlName="pan" maxlength="11">
                        </div>
                        <div class="col">
                            <label for="adhar">Aadhar Number</label>
                            <input type="text" id="adhar" class="form-control" placeholder="Aadhar Number" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="12" formControlName="aadhar">
                        </div>
                    </div>

                    
                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="fullname">Full Name (As registered with bank)</label>
                            <input type="text" id="fullname" class="form-control" placeholder="Full Name" formControlName="name">
                        </div>
                        <div class="col">
                            <label for="bnkname">Bank Name</label>
                            <input type="text" id="bnkname" class="form-control" placeholder="Bank Name" formControlName="bankName">
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="acnum">Account Number</label>
                            <input type="text" id="acnum" class="form-control" placeholder="Account Number" formControlName="accountNumber" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="16">
                        </div>
                        <div class="col">
                            <label for="ifsc">IFSC Code</label>
                            <input type="text" id="ifsc" class="form-control" placeholder="IFSC Code" formControlName="ifscCode" maxlength="11">
                        </div>
                    </div>

                    <label for="upi">UPI ID (If any)</label>
                    <input type="text" id="upi" class="form-control mb-4" placeholder="name@upi" formControlName="upi">
                    

                    <!-- Password -->
                    <h5 class="text-primary mt-4"><i class="fas fa-ribbon"></i> Update Security Information</h5>
                    <hr>

                    <div class="form-row mb-4">
                        <div class="col">
                            <label for="npass">New Password</label>
                            <input type="password" id="npass" class="form-control" placeholder="New Password">
                        </div>
                        <div class="col">
                            <label for="rpass">Repeat Password</label>
                            <input type="password" id="rpass" class="form-control" placeholder="Repeat Password">
                        </div>
                    </div>

                    <button class="btn btn-sm mx-0 primary-color-dark text-white" (click)="updateProfile()">Save Changes</button>

                </form>
            </div> 
        </div>
    </div>
    
</div>