<div class="container-fluid cloudy-knoxville-gradient py-md-5 matop">
    <div class="container-fluid container-lg my-md-5 py-md-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-8"><img src="../../assets/svg/reset-password-page.svg" alt="" class="my-4 my-md-0"></div>
            <div class="col-md-4">
                <h2 class="fredoka">Reset Your Password</h2>
                <p>Lost your password? Don't Worry we're here to help you out. Please enter your registered email address to get a password recovery link.</p>

                <form class="text-left" action="#!">
                    <!-- Name -->
                    <label for="name">Email</label>
                    <input type="text" id="name" class="form-control mb-4" placeholder="Registered Email">
                    <button class="btn btn-info my-4 btn-block" type="submit">Reset Password</button>
                    <p>Recovered your password?
                        <a [routerLink]="['/login/teacher']">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    
</div>